/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

#news-area .inner #error a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  height: 35px;
  margin: 0 auto;
  font-size: 11px;
  color: #ffffff;
  background: #333333;
  border-radius: 3px; }
  #news-area .inner #error a:hover {
    opacity: .8; }
  #news-area .inner #error a span {
    position: relative;
    padding-left: 15px; }
    #news-area .inner #error a span::before {
      background-image: url(../../../common/sprites/sp_icons/sprite.png);
      background-size: 119px 113px;
      background-repeat: no-repeat;
      background-position: -13px -102px;
      width: 11px;
      height: 11px;
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

body {
  background: #ffffff; }
  body > header {
    position: relative; }

#first-view {
  position: relative;
  width: 100%; }
  #first-view img {
    width: 100%; }
  #first-view .kv {
    width: 100%;
    height: 154.9%; }
    #first-view .kv .kv-slideshow {
      position: relative; }
      #first-view .kv .kv-slideshow .kv-slide-item {
        width: 100%; }
        #first-view .kv .kv-slideshow .kv-slide-item:nth-child(n + 2) {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0; }
        #first-view .kv .kv-slideshow .kv-slide-item .img-kv {
          width: 100%; }
        #first-view .kv .kv-slideshow .kv-slide-item .img-title {
          width: 57%;
          position: absolute;
          top: 54%;
          left: 70%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); }
        #first-view .kv .kv-slideshow .kv-slide-item:nth-child(1) .img-title {
          top: 52%;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); }
        #first-view .kv .kv-slideshow .kv-slide-item.chg-pos .img-title {
          top: 54%;
          left: 70%; }
  #first-view .slider {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0; }
    #first-view .slider .slide-arrow {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 1;
      cursor: pointer; }
      #first-view .slider .slide-arrow.prev-arrow {
        background-image: url(../../../common/sprites/sp_parts/sprite.png);
        background-size: 95px 82px;
        background-repeat: no-repeat;
        background-position: -61px -59px;
        width: 8px;
        height: 20px;
        left: 80px; }
      #first-view .slider .slide-arrow.next-arrow {
        background-image: url(../../../common/sprites/sp_parts/sprite.png);
        background-size: 95px 82px;
        background-repeat: no-repeat;
        background-position: -51px -59px;
        width: 8px;
        height: 20px;
        right: 80px; }
    #first-view .slider .slick-track {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 120px; }
    #first-view .slider .slick-slide {
      width: 200px;
      margin: 0 5px; }
      #first-view .slider .slick-slide a {
        display: block;
        width: 90%;
        -webkit-transition: all .3s;
        transition: all .3s;
        margin: 10px auto;
        border: solid 2px #999999;
        box-sizing: border-box; }
        #first-view .slider .slick-slide a img {
          width: 100%; }
    #first-view .slider .slick-dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: 50%;
      bottom: -13px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      #first-view .slider .slick-dots li {
        width: 8px;
        height: 8px;
        margin: 0 3px;
        background: #b2b2b2;
        border: 1px solid #4b4b4b;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        box-sizing: border-box; }
        #first-view .slider .slick-dots li.slick-active {
          background: #ffe02f; }
        #first-view .slider .slick-dots li button {
          color: transparent;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          width: 10px;
          height: 10px;
          padding: 0px;
          position: absolute;
          top: -2px;
          left: -1px; }

#store-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  background: #e6e6e6; }
  #store-area .store-link {
    margin-right: 10px; }
    #store-area .store-link.ios {
      width: 123px; }
    #store-area .store-link.android {
      width: 152px; }
    #store-area .store-link img {
      width: 100%; }
  #store-area .detail {
    font-size: 9px; }
    #store-area .detail a {
      position: relative;
      display: inline-block;
      padding-left: 13px;
      line-height: 1; }
      #store-area .detail a::after {
        background-image: url(../../../common/sprites/sp_icons/sprite.png);
        background-size: 119px 113px;
        background-repeat: no-repeat;
        background-position: -26px -102px;
        width: 11px;
        height: 11px;
        content: '';
        position: absolute;
        top: 0;
        left: 0; }

#news-area {
  width: 340px;
  margin: 20px auto 0; }
  #news-area h2 {
    width: 113px;
    height: 22px;
    margin-bottom: 10px; }
    #news-area h2 img {
      width: 100%; }
  #news-area .inner {
    padding: 10px;
    background: #e6e6e6;
    border-radius: 10px; }
    #news-area .inner #error {
      width: 100%;
      margin: 30px 0;
      text-align: center; }
      #news-area .inner #error a {
        margin-top: 20px; }
  #news-area .news-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #news-area .news-list li {
      width: 155px;
      background: #ffffff; }
      #news-area .news-list li:nth-child(n + 3) {
        margin-top: 10px; }
      #news-area .news-list li a {
        position: relative;
        display: block; }
        #news-area .news-list li a .imt-thumb {
          width: 100%; }
        #news-area .news-list li a .icon {
          display: block;
          position: absolute;
          top: -5px;
          left: -2%; }
        #news-area .news-list li a .is_new {
          background: url("../../images/common/icon_new.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 21px;
          height: 17px; }
        #news-area .news-list li a .is_update {
          background: url("../../images/common/icon_update.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 31px;
          height: 20px; }
    #news-area .news-list .imt-thumb {
      margin-bottom: 4px; }
    #news-area .news-list .time {
      position: relative;
      font-size: 10px; }
      #news-area .news-list .time .date {
        display: block;
        -webkit-transform: translateX(-15%) scale(0.6);
                transform: translateX(-15%) scale(0.6); }
    #news-area .news-list [class^=icon-category] {
      min-width: 75px;
      padding: 4px;
      line-height: 1;
      display: block;
      color: #ffffff;
      text-align: center;
      position: absolute;
      top: -2px;
      right: 0;
      border-radius: 2px;
      box-sizing: border-box;
      -webkit-transform: translateX(5%) scale(0.7);
              transform: translateX(5%) scale(0.7); }
      #news-area .news-list [class^=icon-category].icon-category0 {
        background: #1da1f2; }
      #news-area .news-list [class^=icon-category].icon-category1 {
        background: #78c846; }
      #news-area .news-list [class^=icon-category].icon-category2 {
        background: #ffb400; }
      #news-area .news-list [class^=icon-category].icon-category3 {
        background: #3257b7; }
      #news-area .news-list [class^=icon-category].icon-category4 {
        background: #ff7800; }
      #news-area .news-list [class^=icon-category].icon-category5 {
        background: #e6001e; }
    #news-area .news-list .title {
      font-size: 10px;
      min-height: 55px;
      padding: 4px 8px 8px;
      box-sizing: border-box; }
  #news-area .btn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 175px;
    height: 35px;
    margin: 10px auto 0;
    font-size: 11px;
    color: #ffffff;
    background: #333333;
    border-radius: 3px; }
    #news-area .btn-more:hover {
      opacity: .8; }
    #news-area .btn-more span {
      position: relative;
      padding-left: 15px; }
      #news-area .btn-more span::before {
        background-image: url(../../../common/sprites/sp_icons/sprite.png);
        background-size: 119px 113px;
        background-repeat: no-repeat;
        background-position: -13px -102px;
        width: 11px;
        height: 11px;
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
  #news-area #no-posts {
    text-align: center; }

#twitter-area {
  padding: 20px 17.5px 30px;
  background: #e6e6e6; }
  #twitter-area h2 {
    width: 137px;
    height: 14px;
    margin-bottom: 10px; }
    #twitter-area h2 img {
      width: 100%; }
  #twitter-area .inner {
    width: 340px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    box-sizing: border-box; }
    #twitter-area .inner .img-thumb {
      width: 100%; }
    #twitter-area .inner .follow-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 14px 0 12px;
      padding-bottom: 14px;
      border-bottom: 1px solid #cbcbcb;
      box-sizing: border-box; }
      #twitter-area .inner .follow-wrap .img-thumb {
        width: 73px;
        margin-right: 7px; }
      #twitter-area .inner .follow-wrap .detail {
        font-size: 15px;
        line-height: 1;
        padding-left: 4.5px; }
        #twitter-area .inner .follow-wrap .detail span {
          display: block;
          margin: 8px 0;
          font-size: 9px; }
        #twitter-area .inner .follow-wrap .detail a {
          display: inline-block;
          margin-left: -4.5px; }
          #twitter-area .inner .follow-wrap .detail a img {
            width: 81px; }
    #twitter-area .inner .description {
      font-size: 10px; }

#movie-area {
  width: 340px;
  margin: 20px auto 0; }
  #movie-area h2 {
    width: 94px;
    height: 13px;
    margin-bottom: 10px; }
    #movie-area h2 img {
      width: 100%; }
  #movie-area a {
    display: block; }
    #movie-area a img {
      width: 100%; }

#godds-area {
  width: 340px;
  margin: 30px auto 0; }
  #godds-area h2 {
    width: 129px;
    height: 19px;
    margin-bottom: 10px; }
    #godds-area h2 img {
      width: 100%; }

#contents-area {
  margin-top: 30px;
  padding: 20px 17.5px 30px;
  background: #e6e6e6; }
  #contents-area h2 {
    width: 154px;
    height: 20px;
    margin-bottom: 10px; }
    #contents-area h2 img {
      width: 100%; }
  #contents-area .bnr-list {
    width: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #contents-area .bnr-list li {
      width: 165px; }
      #contents-area .bnr-list li:nth-child(2n + 1) {
        margin-right: 10px; }
      #contents-area .bnr-list li:nth-child(n + 3) {
        margin-top: 10px; }
      #contents-area .bnr-list li img {
        width: 100%; }

#bgmovie-area {
  line-height: 0;
  position: relative; }
  #bgmovie-area::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../../common/images/common/movie_cover.png");
    background-size: 2px 2px; }
  #bgmovie-area video {
    width: 100%; }

html.ios #store-area .store-link.android {
  display: none; }

html.android #store-area .store-link.ios {
  display: none; }

.top-modal {
  display: none; }

.top-modal-blocker {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 100px 0; }
  .top-modal-blocker .top-modal > img {
    width: 362px; }
  .top-modal-blocker .top-modal > a.close-modal {
    background-image: url("../../../common/images/common/top/close.png");
    width: 34px;
    height: 34px;
    top: -35px;
    right: 5px; }

#store-area {
  display: block;
  text-align: center; }
  #store-area .store-link {
    display: inline-block;
    margin-right: 0; }
  #store-area .detail {
    margin-top: 0.3em; }
    #store-area .detail a {
      padding-left: 0; }
      #store-area .detail a::before {
        background-image: url(../../../common/sprites/sp_icons/sprite.png);
        background-size: 119px 113px;
        background-repeat: no-repeat;
        background-position: -26px -102px;
        width: 11px;
        height: 11px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.2em; }
      #store-area .detail a::after {
        display: none; }

#news-area h2 {
  width: 61px; }

#twitter-area h2 {
  width: 61px; }

#twitter-area .inner .follow-wrap .detail a img {
  width: 94px; }

#movie-area h2 {
  width: 68px;
  height: 13px; }

#contents-area h2 {
  width: 87px;
  height: 20px; }

  .top-modal-inner {
    width: 70%;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  .top-modal-inner .ttl {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
  }
  .top-modal-inner .txt {
    font-size: 12px;
  }
  .top-modal-inner .txt + .txt {
    margin-top: 20px;
  }
  .top-modal-inner .txt a {
    text-decoration: underline;
  }
  