body:not(#top, #news, #profilecard){
  background-color: #f4f4f4 !important;
padding-bottom: 0px;
}
body#character-detail{
  background-size: cover;
}

#dragon .inner .kv{
  top: -16px;
  left: -104px;
}
#dragon .inner .kv img{
  width: 385px;
}

#dragon .inner h3 img{
  width: 105px;
}
#dragon .introduction h4 img{
  width: 220px;
}

#dragon .introduction .link .btn-detail{
  background: none
}
#dragon .introduction .link .btn-detail img{
  width: 160px;
  height: 54px;
}

/*事前登録*/
.approach .btn_pre_registration .top10_up{
  width: 100%;
  position: relative;
  margin-top: 12px;
}

.approach .btn_pre_registration .top10_up > img{
  max-width: 100%;
}

.approach .btn_pre_registration .top10_up > .ios{
  position: absolute;
  width: 24.06%;
  top: 21%;
  right: 38%;
}

.approach .btn_pre_registration .top10_up > .android{
  position: absolute;
  width: 30.72%;
  top: 21%;
  right: 6%;
}

.approach .btn_pre_registration .top10_up > .android img, .approach .btn_pre_registration .top10_up > .ios img{
 max-width: 100%;
}
#totop img{
  width: 122px;
  height: 12px;
}
body#pre_registration #visual #kv .logo img{
  height: 66px;
}
body#pre_registration #visual #kv .text img{
  width: 347px;
  height: 71px;
}
body#pre_registration #contents .approach h3 img{
  width: 320px;
  height: 40px;
}
body#pre_registration #visual{
  margin-bottom: 6px;
}
body#pre_registration #contents .approach .btn_pre_registration .nintendo{
  text-align: center;
}

body#pre_registration #contents .approach .btn_pre_registration .app-title{
  text-align: center;
  margin-bottom: 2px;
}
body#pre_registration #contents .approach .btn_pre_registration ul{
  justify-content: center;
}

body#pre_registration #contents .approach .btn_pre_registration ul li{
  width: auto;
  margin-left: 1px;
  display: inline-block;
}
body#pre_registration #contents .approach .btn_pre_registration ul li:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 374px) {
  body#pre_registration #contents .approach .btn_pre_registration ul .app img{
    width: 135px;
    height: 45px;
  }
  body#pre_registration #contents .approach .btn_pre_registration ul li{
  margin-left: 2px;
  }
  body#pre_registration #contents .approach .btn_pre_registration ul .google img{
    width: 158px;
    height: 47px;
  }
}
body#pre_registration #contents .approach .btn_pre_registration .nintendo a{
  background-image: none;
  padding-top: 0px;
}
body#pre_registration #contents .approach .btn_pre_registration .nintendo a img{
  width: 345px;
  height: 58px;
}
@media screen and (max-width: 374px) {
  body#pre_registration #contents .approach .btn_pre_registration .nintendo a img{
    width: 293px;
    height: 50px;
  }
}

body#pre_registration #contents .approach .btn_pre_registration .store .link a{
  background-image: none;
  padding-top: 0px;
}
body#pre_registration #contents .approach .btn_pre_registration .store .link a img{
  width: 186px;
  height: 55px;
}
body#pre_registration #reward header p img{
  width: 88px;
}
body#pre_registration #reward header h2 img{
  width: 218px;
  height: 61px;
}
body#pre_registration #reward article .grade{
  margin-bottom: 40px;
}

body#pre_registration #reward article .grade .rank1{
  margin-left: 175px;
  margin-top: -5px;
}
body#pre_registration #reward article .grade .rank1 img{
  width: 173px;
  height: 84px;
}
body#pre_registration #reward article .grade .rank2{
  margin-left: 48px;
  margin-top: -30px;
}
body#pre_registration #reward article .grade .rank2 img{
  width: 175px;
  height: 98px;
}
body#pre_registration #reward article .grade .rank3{
  margin-top: -13px;
}
body#pre_registration #reward article .grade .rank3 img{
  width: 216px;
  height: 91px;
}
body#pre_registration #reward article .grade .rank4{
  margin-left: 58px;
  margin-top: -6px;
}
body#pre_registration #reward article .grade .rank4 img{
  width: 277px;
  height: 120px;
}
body#pre_registration #reward article .grade .rank5{
  margin-left: 6px;
  margin-top: -21px;
}
body#pre_registration #reward article .grade .rank5 img{
  width: 323px;
  height: 158px;
}
body#pre_registration #description h2 img{
  width: 252px;
  height: 22px;
}
body#pre_registration #contents{
  padding-bottom: 40px;
}

body#pre_registration_under #contents h1 img{
  height: 66px;
}
body#pre_registration_under #contents #complete h2 img{
  height: 24px;
}
body#pre_registration_under #contents #complete p img{
  width: 248px;
}
body#pre_registration_under #contents #complete p{
  margin-bottom: 100px;
}
body#pre_registration_under #contents #registered p:first-child img{
  width: 318px;
  height: 13px;
}
body#pre_registration_under #contents #error p:first-child img{
  width: 211px;
  height: 13px;
}

body#error #contents h1 img{
  width: 206px;
  height: 66px;
}
